.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
    width: 100%;
    margin: 0;
    height: 4em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.navBarItem {
    display: inline-block;
    max-height: 100%;
    cursor: pointer;
    margin: 0.5em;
}

.navList {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.navBarItem1 {
    flex-grow: 0;
}

.navBarItem2 {
    flex-grow: 1;
}

.navBarItem30 {
    flex-grow: 30;
    cursor: default;
}

.navMenu {
    display: none;
}

.searchInput {
    font-size: calc((1em * 5)/6);
    width: 60%;
    height: 2em;
    padding: 0.5em;
    padding-left: 2.5em;
    border-radius: 9999px;
    border: 1px solid black;
    background: url("../../../public/images/search-svgrepo-com.svg") no-repeat left;
    background-color: #f1f1f1;
    background-position-x: 0.5em;
    background-size: 1.3em;
    transition: all 200ms;
}

.searchBtn {
    font-size: calc((1em * 5)/6);
    width: 20%;
    height: 3.2em;
    border-radius: 15em;
    padding: 0;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: #5624d0;
}

li img {
    display: block;
}

@media only screen and (max-width: 1014px) {
    .navList {
        display: none;
    }

    .navMenu {
        display: inline-block;
        order: 1;
        font-size: 2em;
    }

    .navLogo {
        order: 2;
    }
}