.courseCard {
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin: 0.4em;
    max-width: 240px;
}

.courseCard:hover,
.courseCard:visited {
    color: black;
}

.courseImg {
    width: 100%;
    border: 1px solid lightgray;
    transition: all 100ms;
}

.courseImg:hover {
    filter: brightness(80%);
}

.courseTitle,
.coursePrice {
    display: block;
    font-weight: bold;
    margin: 0.5em 0;
}

.courseAuthor,
.ratingNumbers {
    font-size: 0.8em;
    color: gray;
    margin: 0.4em 0;
}

.ratingNumbers {
    font-weight: 600;
}

.rating {
    color: #b4690e;
    font-size: 0.8em;
    font-weight: 800;
}

.rating i {
    color: #e59819;
}

.courseCard a {
    text-decoration: none;
    color: inherit;
}

.courseCard a:visited {
    text-decoration: none;
    color: inherit;
}